body{
    background: 
  linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, black 25%, transparent 25%),
  linear-gradient(45deg, black 25%, transparent 25%);	
  background-size: 2em 2em;
  background-color: #232323;
}
.uno {
    width: 100%;
    height: 300px;
    background-color: #269;
  background-image:
    linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.28) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  border: 3px solid rgb(255, 0, 13);
    transform: skewY(5deg);
}
.uno .parrafo{
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
}
.uno .parrafo .l_1{
    color: black;
    font-weight: bolder;
    font-size: 50px;
    transform: skewY(-5deg);
    margin-bottom: 0;
}
.uno .parrafo .l_2{
    color: white;
    font-weight: bolder;
    font-size: 30px;
    transform: skewY(-5deg);
    margin-top: 0;
    margin-bottom: 0;
}
.uno .imagen{
    position: absolute;
    top: 20%;
    right: 5%;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    transform: skewY(-5deg);
    overflow: hidden;
}
.uno .imagen img{
    width: 187px;
    height: 190px;
}
.datos{
    width: 90%;
    height: auto;
    background: cadetblue;
    margin:7% auto ;
    padding: 20px;
    border-radius: 15px; 
    border: 2px solid rgb(255, 0, 13);
}
.datos .t_datos{
    color: red;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 10px black dashed;
}
.datos .informacion{
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-size: xx-large;
    display: inline;
}

.grid{ 
    width: 90%;
    display: grid;
    grid-template-columns: 250px 300px;
    grid-template-rows: auto auto;
    gap: 2em; 
    padding: 20px;
}
.grid div{
    background:cadetblue;
    padding: 1em;
    border-radius: 15px;
    margin-left: 50px;
    border: 2px solid rgb(255, 0, 13);
}
.element1{
    grid-column: 1/5;
    text-align: center;
    color: rgb(4, 0, 255);
    font-size: xx-large;
}
.element2{
    color: red;
}
.element3{
    grid-column: 2/5;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: large;
}
.grid2{ 
    width: 90%;
    display: grid;
    grid-template-columns: 250px 300px;
    grid-template-rows: auto auto;
    padding: 20px;
}
.grid2 div{
    background:cadetblue;
    padding: 1em;
    border-radius: 15px;
    margin-left: 50px;
    border: 2px solid rgb(255, 0, 13);
}
.grid2 .element4{
    background:rgb(162, 173, 60);
    grid-column: 1/3;
    text-align: center;
    color: rgb(1, 36, 0);
    font-size: xx-large;
}
.grid2 .element5{
    background:rgb(86, 173, 60);
    grid-column: 3/3;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: large;
}
.grid2 .element6{
    background:rgb(173, 137, 60);
    grid-column: 4/5;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: large;
}
footer{
    float: left;
    width: 98%;
    height: 80px;
    background: rgb(0, 0, 0);
    padding: 15px;
    text-align: center;
    color: white;
    margin-top: 20px;
}